@model DormDomain.Model.Degree

@{
    ViewData["Title"] = "Delete";
}

<h1>Видалити навчальний ступінь?</h1>

<div>
  
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DegreeName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DegreeName)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
