@model DormDomain.Model.Faculty
@{
    ViewData["Title"] = "Імпорт факультетів";
}
<div>
    <h3>Оберіть excel-файл для завантаження даних</h3>
    @using (Html.BeginForm("Import", "Faculties", FormMethod.Post, new { enctype = "multipart/form-data", id = "frm-excel" }))
    {
        <div class="mt-3">
            Завантажте Excel-файл (.xlsx):
            <input type="file" name="fileExcel" id="fileExcel" class="form-control mb-2" accept=".xlsx" />
            <div>
                <input type="submit" value="Завантажити" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-secondary">Назад до списку</a>
            </div>
        </div>
    }
</div>



<div>
    <h3>Оберіть excel-файл для завантаження</h3>
    @using (Html.BeginForm("Import", "Faculties", FormMethod.Post, new { enctype = "multipart/form-data", id = "frm-excel" }))
    {
        <div>
            Завантажте Excel-файл:
            <input type="file" name="fileExcel" id="fileExcel" />
            <div>
                <input type="submit" value="Завантажити" />
            </div>
        </div>
    }
</div>
