@{
    ViewData["Title"] = "Лабораторна роботи ІСтаТП 2021. Бібліотека";
}

@if (User.Identity.IsAuthenticated)
{
    <p>@User.Identity.Name</p>

    <form method="post" asp-controller="Account" asp-action="Logout">
        <input type="submit" value="Вихід "  />
    </form>
}
else
{
    <a class=" btn btn-outline-light btn-sm"  asp-controller="Account" asp-action="Login">Вхід </a>
    <a class=" btn btn-outline-light btn-sm"  asp-controller="Account" asp-action="Register">Реєстрація</a>
}
